@import url('https://fonts.googleapis.com/css2?family=Padauk&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ubuntu:700');
@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@500&display=swap');

html {
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

:root {
  --main-bg-color: #f3eddd;
  --main-txt-color: #403239;

}

body {
  margin: 0;
  min-height: 100%;
  background-color: var(--main-bg-color);
  font-family: 'Darker Grotesque', sans-serif;
}

h1,
h2 {
  font-family: 'Abril Fatface', cursive;
  font-weight: 400;
}

.navbar-item a {
  color: var(--main-txt-color);
  text-transform: uppercase;
  font-family: 'Darker Grotesque', sans-serif;
  font-weight: 700;
}

.navbar-item a {
  color: var(--main-txt-color);
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  display: inline-block;
  position: relative;
}

.navbar-item a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  background: var(--main-txt-color);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.navbar-item a:hover:after {
  width: 100%;
  left: 0;
}


.navbar-brand span {
  font-family: 'Abril Fatface', cursive;
  font-weight: 400;
  align-self: center;
  padding-left: 10px;
  letter-spacing: 2px;
}

.carousel-indicators li {
  border-radius: 50%;
  height: 15px;
  width: 15px;
}

#title {
  color: var(--main-bg-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.carousel,
.carousel-inner,
.carousel-item>img {
  height: 450px;
}

.carousel-item>img {
  object-fit: cover;
}

.content {
  margin: 0 auto;
  padding-top: 32px;
  padding-bottom: 32px;
  max-width: 750px;
}

.content h1 {
  text-align: center;
}

.content p {
  text-align: center;
  font-size: 1.3rem;
}

.video-container {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.video-container::after {
  padding-top: 56.25%;
  display: block;
  content: '';
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 576px) {

  .carousel,
  .carousel-inner,
  .carousel-item>img {
    height: 500px;
  }
}

@media only screen and (max-width: 575px) {

  #bg-profile {
    position: absolute;
    left: 0;
  }
}


/*-------------footer-------------*/
footer {
  padding: 1rem;
  background-color: var(--main-bg-color);
  color: var(--main-txt-color);
}

#icon-contact img {
  margin-right: 10px;
  padding: 5px;
  max-width: 45px;
}

.footer-text-l h3,
.footer-text-l p {
  text-align: left;
  letter-spacing: 2px;
}

.round-button {
  width: 75px;
}

.round-button-circle {
  max-width: 100%;
  height: 0;
  padding-bottom: 100%;
  border-radius: 50%;
  border: 1px solid #999;
  overflow: hidden;
}

.round-button-circle:hover {
  background: #000;
}

.round-button a:hover {
  color: #fff;
}

.round-button a {
  display: block;
  float: left;
  width: 100%;
  padding-top: 50%;
  padding-bottom: 50%;
  line-height: 1em;
  margin-top: -0.5em;
  text-align: center;
  color: #000;
  font-family: Verdana;
  font-size: 12px;
  letter-spacing: 2px;
  text-decoration: none;
}

/*-------------About Me-------------*/
.container {
  padding: 20px;
}

/*
.profile-card {
  border: #403239 1px solid;

}*/

.profile-pic {
  border-radius: 50%;
  position: absolute;
  top: -65px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 1;
  max-width: 170px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}


.profile-info {
  color: var(--main-txt-color);
  padding: 125px 25px 25px 25px;
  position: relative;
  margin-top: 80px;
  background-color: #fff;
  box-shadow: 1px 13px 10px rgba(0, 0, 0, 0.1);
}

.profile-info h2 {
  color: var(--main-txt-color);
  letter-spacing: 4px;
  padding-bottom: 12px;
}

.profile-info h3 {
  color: var(--main-txt-color);
  text-align: left;
  color: #b94e3a;
  font-weight: 700;
}

.profile-info h4,
.profile-info h5,
.profile-info h6 {
  color: var(--main-txt-color);
  padding-bottom: 10px;
  text-align: left;
}

.profile-info h4 {
  font-weight: 600;
}

.box-about {
  border-left: 1px solid #CECECE;
}

.profile-info span {
  display: block;
  font-size: 20px;
  color: #b94e3a;
  letter-spacing: 2px;
  padding-top: 15px;
}

.profile-info p {
  font-size: 18px;
  padding: 25px;
  letter-spacing: 2px;
}

.h-skill h3 {
  text-align: center;
}

.text-skill span {
  font-size: 18px;
  color: #000;
}

.profile-card:hover .profile-pic {
  transform: scale(1.1);
}

.profile-card:hover .profile-info hr {
  opacity: 1;
}




/* Underline From Center */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}

.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 52%;
  right: 52%;
  bottom: 0;
  background: #FFFFFF;
  border-radius: 50%;
  height: 3px;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.profile-card:hover .hvr-underline-from-center:before,
.profile-card:focus .hvr-underline-from-center:before,
.profile-card:active .hvr-underline-from-center:before {
  left: 0;
  right: 0;
  height: 2px;
  background: #CECECE;
  border-radius: 0;
}

/*-------------Work-------------*/
.card--1 .card__img,
.card--1 .card__img--hover {
  background-image: url(/img/work/p001.jpg);
}

.card--2 .card__img,
.card--2 .card__img--hover {
  background-image: url(/img/work/Building-1.jpg);
}

.card--3 .card__img,
.card--3 .card__img--hover {
  background-image: url(/img/work/moster-1.png);
}

.card--4 .card__img,
.card--4 .card__img--hover {
  background-image: url(/img/work/badroom1.jpg);
}

.card--5 .card__img,
.card--5 .card__img--hover {
  background-image: url(/img/work/cup-1.jpg);
}

.card--6 .card__img,
.card--6 .card__img--hover {
  background-image: url(/img/work/HS-1.jpg);
}

.card--7 .card__img,
.card--7 .card__img--hover {
  background-image: url(/img/work/moon-2.jpg);
}

.card--8 .card__img,
.card--8 .card__img--hover {
  background-image: url(/img/work/SM-1.jpg);
}

.card--9 .card__img,
.card--9 .card__img--hover {
  background-image: url(/img/work/Hung-1.jpg);
}

.card--10 .card__img,
.card--10 .card__img--hover {
  background-image: url(/img/work/harry-1.jpg);
}

.card--11 .card__img,
.card--11 .card__img--hover {
  background-image: url(/img/work/Game.png);
}

.card__img {
  visibility: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 235px;
}

.card__info-hover {
  position: absolute;
  padding: 16px;
  width: 100%;
  opacity: 0;
  top: 0;
}

.card__img--hover {
  transition: 0.2s all ease-out;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  position: absolute;
  height: 235px;
  top: 0;

}

.card {
  text-align: center;
  transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
  background-color: #fff;
  max-width: 100%;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.card:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
  transform: scale(1.10, 1.10);
}

.card__info {
  z-index: 2;
  background-color: #fff;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  padding: 16px 24px 24px 24px;
}

.card__category {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  color: rgb(54, 54, 54);
}


.card__title {
  margin-top: 5px;
  margin-bottom: 10px;
  font-family: 'Roboto Slab', serif;
}

.card__by {
  font-size: 12px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}

.card__author {
  font-weight: 600;
  text-decoration: none;
  color: #AD7D52;
}

.card:hover .card__img--hover {
  height: 100%;
  opacity: 0.3;
}

.card:hover .card__info {
  background-color: transparent;
  position: relative;
}

.card:hover .card__info-hover {
  opacity: 1;
}

.text-portfolio p {
  font-family: 'Padauk';
}

.box-contact span {
  font-size: 25px;
}